
body {
	background: white;
	font-family: fantasy;

}
h1 {font-size: 22px;
	font-weight: bolder;
	justify-content: center;

	
}
a {
	color: black;
	text-decoration-color: underline;
}
a:hover {
	color: black;
	text-decoration: none;
}
h2 {
	font-size: 16px;
}
p {
	font-size: 14px;
}

.box {
	height: 100px;
	width: 447px;
	background-color: lightblue;
}